[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scandir = "*"
lz4 = "*"
atomicwrites = "*"
couchbase = "*"
nuitka = "*"

[dev-packages]

[requires]
python_version = "3.10"
